{% extends 'base.html' %}

{% block title %}
my profile
{% endblock title %}

{% block content %}
{% if confirm %}
<h1>Updated</h1>
{% endif %}
<div>My profile: {{ request.user }}</div>
<div>Number of posts: {{profile.get_posts_no}}</div>
<div>Number of likes given: {{profile.get_likes_given_no}}</div>
<div>Number of likes received: {{profile.get_likes_received_no}}</div>
<form action="" method="POST" class="ui form" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="ui positive button">Update</button>
</form>
{% endblock content %}