{% extends 'base.html' %}

{% block title %}
Все профили
{% endblock title %}

{% block content %}

    {% if is_empty %}
        <h3 class="main__h3-prof-all">Нет других профилей</h3>
    {% else %}

        <div class="main__all-prof-block all-prof-block">
            {% for obj in object_list %}
                    <div class="all-prof-block__item-block-all-prof item-block-all-prof">
                    
                        <img class="item-block-all-prof__image" src={{obj.avatar.url}}>
                        
                        <div class="item-block-all-prof__info-block-all-prof info-block-all-prof">
                            <a class="info-block-all-prof__link" href={{obj.get_absolute_url}}>{{obj.user}}</a>
                            <p class="info-block-all-prof__text">{{obj.bio}}</p>

                            {% if obj.user not in rel_receiver and obj.user not in rel_sender %}
                                <form class="info-block-all-prof__form-all-prof form-all-prof" action="{% url 'profiles:send-invite' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                    <button type="submit" class="form-all-prof__btn-add"><i class="plus square icon"></i>Add to friends</button>
                                </form>
                            {% endif %}

                            {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
                                <button disabled class="info-block-all-prof__btn-wait"><i class="user icon"></i>Waiting for approval</button>
                            {% endif %}

                            {% if request.user in obj.friends.all %}
                                <form class="info-block-all-prof__form-all-prof form-all-prof" action="{% url 'profiles:remove-friend' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                    <button type="submit" class="form-all-prof__btn-del"><i class="minus square icon"></i>Remove from friends</button>
                                </form>
                            {% endif %}
                        </div>

                    </div>
            {% endfor %}
        </div>

    {% endif %}


{% endblock content %}
