{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Вход{% endblock %}

{% block content %}

<div class="main__login-block login-block">

  <h3 class="login-block__h3">Вход krlbook</h3>

  <form class="login-block__form-block-sign form-block-sign" method="POST" action="{% url 'account_login' %}">

    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="form-block-sign__btn-block btn-block">
      
      <button class="btn-block__btn-pos" type="submit">Войти</button>

      <a class="btn-block__link btn-block__btn-neg" href="{{ signup_url }}">Регистрация</a>

    </div>

  </form>

</div>
{% endblock %}
