{% extends "base.html" %}

{% block title %}Выход{% endblock %}

{% block content %}

<div class="main__post-form-block post-form-block">
    <h3>Выход</h3>
    <p class="post-text__text">Вы хотите выйти из аккаунта?</p>
    <form method="post" action="{% url 'account_logout' %}" class="post-form-block__form-logout form-logout">
      {% csrf_token %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="form-logout__btn form-all-prof__btn-del" name="submit_p_form">Выйти</button>
    </form>
</div>

{% endblock %}
