{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="main__login-block login-block">

  <h3 class="login-block__h3">Регистрация krlbook</h3>
  
  <p class="login-block__text">Уже есть аккаунт? Тогда пожалуйста <a href="{{ login_url }}">войдите</a>.</p>

  <form class="login-block__form-block-sign form-block-sign" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="btn-block__btn-pos btn-reg" type="submit">Зарегистрироваться</button>

  </form>

</div>
{% endblock %}
