{% extends 'base.html' %}

{% block title %}
Удаление поста
{% endblock title %}

{% block content %}

{% if not messages %}
<div class="main__post-form-block post-form-block">
        <h3>Удаление поста</h3>
        <form class="post-form-block__form-del form-del" action="" method="POST">
            {% csrf_token %}
            <p>Вы хотите удалить пост?</p>
            <button type="submit" class="form-del__btn form-all-prof__btn-del">Удалить</button>
        </form>
</div>
{% endif %}

{% endblock content %}