{% extends 'base.html' %}

{% block title %}
posts
{% endblock title %}

{% block content %}

<div class="main__post-form-block post-form-block">
    {% if post_added %}
        <div class="post-form-block__message">Пост добавлен</div>
    {% endif %}
    <form action="" method="POST" class="post-form-block__form form-post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-post__form-body form-body">
            {{ p_form }}
        </div>
        <button type="submit" class="form-post__btn" name="submit_p_form">Опубликовать</button>
    </form>
</div>

{% for obj in qs%}
    <div class="main__post-block post-block">

        <div class="post-block__info-block info-block">

            <div class="info-block__author-block author-block">
            
                <img class="ui avatar image" src={{obj.author.avatar.url}}>

                <p class="author-block__text author-text-block">
                    {% ifequal request.user obj.author.user %}
                        {{ obj.author.user }} - {{ obj.created|timesince }} ago
                    {% else %}
                        <a href="{{obj.author.get_absolute_url}}" class="author-text-block__link">{{ obj.author.user }}</a>
                        - {{ obj.created|timesince }} ago
                    {% endifequal %}
                </p>

            </div>

            <div class="info-block__function-block function-block">

                {% ifequal request.user obj.author.user %}
                    <a class="function-block__link" href="{% url 'posts:post-update' obj.pk %}">Редактировать</a>
                    <a class="function-block__link" href="{% url 'posts:post-delete' obj.pk %}">Удалить</a>
                {% endifequal %}

            </div>
        
        </div>

        <div class="post-block__content content">

            <div class="content__image-block image-block">
                {% if obj.image%}
                    <img class="image-block__image" src={{obj.image.url}}>
                {% endif %}
            </div>
    
            <p class="content__text">{{ obj.content }}</p>

        </div>
        
        
        <div class="post-block__tools-block tools-block">
            <form class="tools-block__form-block form-block" action="{% url 'posts:like-post-view'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value={{obj.id}}>
                <button type="submit" class="{% if profile not in obj.liked.all %}form-block__btn-un{% else %}form-block__btn{% endif %}">

                    {% if profile not in obj.liked.all %}
                        <i class="thumbs up outline icon"></i>&nbsp;{{obj.num_likes}}
                    {% else %}
                        <i class="thumbs up outline icon"></i>&nbsp;{{obj.num_likes}}
                    {% endif %}

                </button>
            </form>

            <form action="{% url 'posts:dislike-post-view'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value={{obj.id}}>
                <button type="submit" class="{% if profile not in obj.disliked.all %}form-block__btn-un{% else %}form-block__btn-dis{% endif %}">

                    {% if profile not in obj.disliked.all %}
                        <i class="thumbs down outline icon"></i>&nbsp;{{obj.num_dislikes}}
                    {% else %}
                        <i class="thumbs down outline icon"></i>&nbsp;{{obj.num_dislikes}}
                    {% endif %}

                </button>
            </form>

            <div class="tools-block__comment-block comment-block">

                <i class="comment-block__icon comment icon"></i>

                <p class="comment-block__text">{{ obj.num_comments }}</p>

            </div>

        </div>

        <button class="cmt_btn">показать / скрыть комментарии</button>

        <div class="post-block__comment-box comment-box">
            {% if obj.comment_set.all %}
                {% for c in obj.comment_set.all %}

                    <div class="comment-box__block-comment-item block-comment-item">

                        <div class="block-comment-item__author-block author-block">
                            <img class="ui avatar image" src={{c.user.avatar.url}}>
                            <p class="author-block__text author-text-block">
                                {% ifequal request.user c.user.user %}
                                    {{ c.user.user }} - {{ c.created|timesince }} ago
                                {% else %}
                                    <a href="{{obj.author.get_absolute_url}}" class="author-text-block__link">{{ c.user.user }}</a>
                                    - {{ c.created|timesince }} ago
                                {% endifequal %}
                            </p>
                        </div>

                        <div class='block-comment-item__text'>{{ c.body }}</div>

                    </div>

                {% endfor %}
            {% endif %}
        </div>

        <form action="" method="POST" class='post-block__comment-form-block comment-form-block'>
            {% csrf_token %}
            <input type="hidden" name="post_id" value={{obj.id}}>
            {{ c_form }}
            <button type="submit" name="submit_c_form" class="comment-form-block__btn form-post__btn">Отправить</button>
        </form>
    </div>
{% endfor %}

    

<script>

</script>
{% endblock content %}
